@page "/address"

<PageTitle>Địa Chỉ</PageTitle>

<h1>Địa Chỉ</h1>

<p>Chúng tôi có các chi nhánh tại:</p>

<ul>
    <li>Chi nhánh 1: F10 Đường Âu Lạc, Thành phố Huế</li>
    <li>Chi nhánh 2: 68 Đường An Dương Vương , Thành phố Huế</li>
    
</ul>