<ul class="navbar-nav">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Trang Chủ
        </NavLink>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBanh" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bánh
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownBanh">
            <li><NavLink class="dropdown-item" href="/danh-muc/banh-lanh-mousse">Bánh Lạnh Mousse</NavLink></li>
            <li><NavLink class="dropdown-item" href="/danh-muc/banh-kem-long-nhan">Bánh Kem Long Nhãn</NavLink></li>
            <li><NavLink class="dropdown-item" href="/danh-muc/banh-kem-hoa-qua-tuoi">Bánh Kem Hoa Quả Tươi</NavLink></li>
            <li><NavLink class="dropdown-item" href="/danh-muc/banh-bong-lan-trung-muoi">Bánh Bông Lan Trứng Muối</NavLink></li>
            <li><NavLink class="dropdown-item" href="/danh-muc/banh-kem-su-kien">Bánh Kem Sự Kiện</NavLink></li>
            <li><NavLink class="dropdown-item" href="/danh-muc/banh-kem-tre-em">Bánh Kem Trẻ Em</NavLink></li>
            <li><NavLink class="dropdown-item" href="/danh-muc/banh-kem-han-quoc">Bánh Kem Hàn Quốc</NavLink></li>
        </ul>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="tintuc">
            Tin Tức
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="lienhe">
            Liên Hệ
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="gioithieu">
            Giới Thiệu
        </NavLink>
    </li>
</ul>